@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Gugi', sans-serif; 
    letter-spacing: 0.1em;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #8ECAE6;
}
body > h1 {
    padding: 20px 30px;
    color: #219EBC;
    background-color: #FFFFFF;
}
body > main {
    min-height: 65vh;
    min-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
}
body > main > div > label {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body > main > div > label > span {
    font-size: 2.2em;
    color: #219EBC;
}
body > main > div > label > input {
    margin-top: 1em;
    padding: 10px 0;
    font-size: 2em;
    text-align: center;
    border: none;
    box-shadow: inset 0 -0.05em 0 0 #023047;
    color: #219EBC;
    transition: all 200ms;
}
input:focus, input:hover {
    outline: none;
    box-shadow: inset 0 0 0 3px #023047;
}
#clock {
    margin: 0.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#clock > #zone {
    margin: 10px 0;
    padding: 8px 25px;
    font-size: 60%;
    color: #FFFFFF;
    background-color: #219EBC;
}
#clock > #time {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 120%;
    color: #023047;
}
#clock > #date {
    font-size: 65%;
    color: #023047;
}